/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/


/* mess around with some media queries */


@font-face {
    font-family: "LA Headline";
    src: url('../fonts-lat/laheadline.ttf') format("truetype");
}

@font-face {
    font-family: 'LA Web Display Kis Bold';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.eot');
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.woff') format('woff'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.3.1/laheadline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Belizio Regular";
    src: url('../fonts-lat/belizio-regular.ttf') format("truetype");
}

@font-face {
    font-family: "Benton Sans Regular";
    src: url('../fonts-lat/BentonSans-Regular.otf') format("truetype");
}

@font-face {
    font-family: "Benton Gothic Bold";
    src: url('../fonts-lat/benton-gothic-bold.ttf') format("truetype");
}

@font-face {
    font-family: "Benton Gothic Regular";
    src: url('../fonts-lat/benton-gothic-regular.ttf') format("truetype");
}

@font-face {
    font-family: "Belizio Narrow";
    src: url('../fonts-lat/belizio-narrow-semibold.ttf') format("truetype");
}

body {
  margin: auto;
  width: 630px;
  line-height: 25px;
}

h1 {
  font-family: "LA Headline";
  font-size: 2.4em;
}

.author {
  color: #FF5443;
  font-family: Georgia;
}

.byline {
  font-family: 'LA Web Display Kis Bold', Georgia, serif;
  font-size: 0.8em;
  font-weight: bold;
}

.dateline {
  font-family: 'Benton Sans Regular';
  font-size: 0.8em;
}

#text-container, #subhead {
  font-family: Georgia;
  color: #333333;
}

.text-subhead {
  font-family: 'LA Web Display Kis Bold', Georgia, serif;
}

.dropcap {
  font-size: 3em;
  font-family: 'Belizio Narrow', serif;
}

#interactive-container {
    width: 80%;
    margin: auto;
}

.mood-headers {
  font-family: "Benton Gothic Bold";

}

.dot {
  cursor: pointer;
  border: 2px solid black;
}

input[type=radio] {
  height: 30px;
  width: 30px;
}

.w3-check {
  cursor: pointer;
}

.w3-validate {
  font-family: "Benton Gothic Regular";
}

.disclaimer-header {
  font-family: "Benton Gothic Regular";
  font-size: 1.6em;
  color: #294F70;
}

.disclaimer {
  font-family: "Benton Gothic Regular";
}

#results-container {
    position: relative;
    width: 80%;
    margin: auto;
}

#results {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

#result-header {
  font-family: 'Benton Gothic Regular';
  size: 0.8em;
}

#submitBtn {
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 20px; 
  border: 3px solid #294F70;
  color: #294F70;
  border-radius: 5px;
  font-family: "Benton Gothic Bold";
  padding: 5px;
  cursor: pointer;
}

#card {
  width: 70%;
  border: 1px solid #999999;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3);
  background-color: #f8f8f8;
}

.cardname {
  font-size: 1.6em;
  color: #FF5443;
  font-family: "Benton Gothic Regular";
}

.card-text {
  font-family: "Benton Gothic Bold";
  font-size: 1em;
}

.card-text-rate {
  font-family: "Benton Gothic Bold";
  font-size: 1em;
  color: #294F70;
}

.rate-background {
  border-radius: 5px;
  background-color: #D8D8D8;
  height: 40px;
}

.rate-bar {
  border-radius: 5px;
  background-color: #4591B8;
  height: 40px;
  color: #FF5443;
}

.rate-bar h4 {
  padding: 10px;
  text-align: center;
}

.strain-type {
  font-family: "Benton Gothic Bold";
  font-size: 1em;
}

.cbd-rate {
  font-family: "Benton Gothic Bold";
  font-size: 1em;
}

.thc-rate {
  font-family: "Benton Gothic Bold";
  font-size: 1em;
}


#pct-match {
  font-size: 2em;
  font-family: "Benton Gothic Bold";
  color: #FF5443;
}

img {
  width: 20px;
  height: 20px;
}

.mood-result {
  width: 100px;
}

.mood-result p{
  font-family: "Benton Gothic Regular";
  font-size: 1em;
  color: #333333;
}
